.issue-list {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
  }
  
  .issue-card {
    border: 1px solid orange;
    margin: 40px 10px;
    width: 300px;
    height: 250px;
    padding-bottom: 5px;
  
  }
  
  .submit-issue {
    border: 1px solid green;
    height: 250px;
  }
  
  .edit-issue-button {
    border: 1px solid gold;
    width: 70px;
    text-decoration: none;
    background: indianred;
    color: white;
    font-weight: 400;
    margin: 0 10px;
  }
  
  .edit-issue-button:hover {
    cursor: pointer;
  }
  
  .tag {
    border: 1px solid;
    width: 110px;
    background: blue;
    color: silver;
    font-weight: 800;
    display: inline-block;
    margin: 10px;
  }
  
  .tag-container .tag .close::after {
    content: '\00d7';
    font-weight: bold;
    display: inline-block;
    margin-left: 5px;
    transform: scale(0.9);
  }
  
  .tag-container .tag .close:hover::after {
    color: red;
  }

.delete-button {
    color: red;
}

.delete-button:hover {
    color: darkred;
    cursor: pointer;
}

