.issue-list {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
}

.edit-issue-button {
  border: 1px solid gold;
  width: 70px;
  text-decoration: none;
  background: indianred;
  color: white;
  font-weight: 400;
  margin: 0 10px;
}

.edit-issue-button:hover {
  cursor: pointer;
}

.tag-container .tag .close::after {
  content: '\00d7';
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
  transform: scale(0.9);
}

.tag-container .tag .close:hover::after {
  color: red;
}

.delete-button {
  color: red;
}

.delete-button:hover {
  color: darkred;
  cursor: pointer;
}