.issue-list {
  display: flex;
  flex-wrap: wrap;
}

.tag-container .tag .close::after {
  content: '\00d7';
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
  transform: scale(0.9);
}

.tag-container .tag .close:hover::after {
  color: red;
}

.delete-button {
  color: red;
}

.delete-button:hover {
  color: darkred;
  cursor: pointer;
}

/* This seems better than trying to add padding for the text */
.dropdown-content > li {
  text-align: center;
}
