.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #094d92;
  width: 21.5%;
  font-family: 'Roboto', sans-serif;
  padding: 0px 20px;
  /* min-height: 100vh; */
  box-shadow: 2px 0px;
}

.sidebar h1 {
  color: white;
}

.sidebar-button {
  background: #fc5130;
  color: white;
  height: 45px;
  width: 200px;
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
}

.page-container {
  display: flex;
  height: 100%;
}

@media only screen and (max-width: 700px) {
  .page-container {
    flex-wrap: wrap;
  }
}

.right-side {
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
}

.issue-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.issue-card {
  text-align: center;
  border: 1px solid orange;
  margin: 40px 20px;
  width: 300px;
  padding-bottom: 20px;
  font-size: 14px;
}

.edit-issue-button {
  border: 1px solid indianred;
  width: 100px;
  text-decoration: none;
  background: indianred;
  color: white;
  font-weight: 800;
}

/* a {
  text-decoration: none;
} */

.tag {
  border: 1px solid;
  width: 110px;
  background: blue;
  color: silver;
  font-weight: 800;
  display: inline-block;
  margin: 10px;
}

/* .tag-container .tag {
  font-size: 85%;
  padding: 5px 10px;
  display: inline-block;
  margin: 0.25em 0.1em;
  background: #ddd;
  transition: all 0.1s linear;
} */

.tag-container .tag .close::after {
  content: '\00d7';
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
  transform: scale(0.9);
}

.tag-container .tag .close:hover::after {
  color: red;
  border: 2px solid indigo;
}

.paymentsInput {
  width: 250px !important;
  color: black !important;
  background-color: white !important;
  border: 1px solid grey !important;
  padding-left: 10px !important;
}
