.testimonials {
  background-color: #00acc1;
  padding-top: 60px;
}

.TestimonialForm {
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
}

.input-field textarea:focus {
  border-bottom: 1px solid white !important;
}
