.testimonials {
  padding-top: 60px;
}

.TestimonialForm {
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
}

.input-field textarea:focus {
  border-bottom: 1px solid white !important;
}

.input-field textarea {
  border-bottom: 1px solid white !important;
}

.panel {
  height: 350px;
}

@media (min-width: 1201px) {
  .addbtn {
    position: fixed;
    top: 15px;
    left: 0;
  }
}

@media (max-width: 1200px) {
  .addbtn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .panel {
    height: 400px;
  }
}

@media (max-width: 1000px) {
  .panel {
    height: auto;
  }
}
