   .card {
    border: 3px solid #30BCED;
    background: #F0EFEF;
    box-sizing: border-box;
    width: 500px;
    padding: 5px;
    margin: 10px auto;
    display: flex;
    flex-direction:column; 
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-weight: normal; 
    font-style: normal;
    cursor: pointer;
  }

  .card h1 {
    color:#094D92;
  }

  .card h2{
    color: #FC5130;
  }
  