h1 {
    font-family: 'Quicksand', sans-serif;
}

a.land-link {
   text-decoration: none;
   margin: 60px 20px;
   color: blue;
   background: orange;
   border: 2px solid blue;
   }

a:hover {
  color: firebrick;
  }
