.meet-team {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
}

.row {
  display: flex !important;
  justify-content: center !important;
}

.material-icons {
  position: relative !important;
  margin-top: -20px;
  margin-right: -20px;
  display: inline-block;
}
