.EventForm {
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
}

.EditForm {
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
}

.input-field input:focus {
  border-bottom: 1px solid white !important;
}
